<br>
<form action="" [formGroup]="validateForm"  (ngSubmit)="submitForm()"
    style="width: 95%; height: 740px; margin: auto; position: relative;">
    <h3>Configuración de tanque de agua</h3>
    <br>
    <br>
    <div class="container-form">
        <div class="mb-3">
            <label class="form-label">Señal</label>
            <select class="form-select" [ngModelOptions]="{standalone: true}" formControlName="senial" [(ngModel)]="oldTanqueEvent.senialId">
                <option value="0">...</option>
                <option *ngFor="let item of seniales" value="{{item.id}}">{{item.descripcion}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Capacidad maxima</label>
            <input type="number" [ngModelOptions]="{standalone: true}" formControlName="capacidad" [(ngModel)]="oldTanqueEvent.capacidad" class="form-control" placeholder="Escriba aqui...">
        </div>
        <div class="mb-3">
            <label class="form-label">Set point</label>
            <h5>MIN: {{oldTanqueEvent.setpoint[0] + ' -  MAX: ' + oldTanqueEvent.setpoint[1]}}</h5>
            <p-slider [(ngModel)]="oldTanqueEvent.setpoint" [ngModelOptions]="{standalone: true}" [range]="true"></p-slider>
        </div>
        <div class="mb-3">
            <label class="form-label">Estado</label>
            <p-selectButton [options]="stateOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="oldTanqueEvent.estado" optionLabel="label" optionValue="value">
            </p-selectButton>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; position: absolute; bottom: 0; width: 100%;">
        <button pButton pRipple type="button" label="Cancelar"
            class="p-button-outlined p-button-secondary p-button-sm"></button>
        <p-button label="Guardar" [disabled]="validateForm.invalid" (onClick)="sendItem()" icon="pi pi-check" styleClass="p-button-sm"></p-button>
    </div>
</form>