<div style="margin: 0% 8% 8% 0%; display: flex; justify-content: flex-end;">
    <button pButton pRipple type="button" (click)="postMotor()" label="+" class="p-button-raised p-button-info"
    style="margin-top: 2%;"></button>
</div>
<p-table [value]="unidades | tmotor:4" [paginator]="true" [immutable]=false [rows]="1" editMode="row" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
    <ng-template pTemplate="body" let-editing="editing" let-unidad>
        <tr [pEditableRow]="unidad">
            <td>
                <div style="display: flex; justify-content: center;">
                    <img src="assets/img/mantenimiento/placaJ.svg" style="width: 55%; position: relative;" alt=""
                        srcset="">
                    <!-- Datos del motor -->
                    <p style="position: absolute;
                        top: -6%;
                        left: 15%;
                        color: black;
                        font-weight: 100;
                        font-size: 25px;"> Información de la bomba </p>

                <div [formGroup]="bombaJockey">
                    <p-cellEditor style="position: absolute; top: 6%;
                    left: 46%;  display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <input pInputText type="text" formControlName="marca" style="
                                background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.marca">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span style="color: rgb(0, 0, 0); font-size: 25px;"> {{unidad.motor.marca}} </span>
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor style="position: absolute; top: 21%;
                    left: 29%;  display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Modelo</label>
                            <input pInputText type="text" formControlName="modelo" style="
                                background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.modelo">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Modelo</label>
                            <span style="color: white; font-size: 25px;"> {{unidad.motor.modelo}} </span>
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor style="position: absolute; top: 36%;
                    left: 29%;  display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Num. fase</label>
                            <input pInputText type="text" formControlName="fase" style="
                                background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.fase">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Num. fase</label>
                            <span style="color: white; font-size: 25px;"> {{unidad.motor.fase}} </span>
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor style="position: absolute; top: 51%;
                    left: 29%; display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Voltaje</label>
                            <input pInputText type="text" formControlName="voltaje" style="
                                background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.voltaje">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Voltaje</label>
                            <span style="color: white; font-size: 25px;"> {{unidad.motor.voltaje}} </span>
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor style="position: absolute; top: 21%;
                    left: 58%; display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <label style="color:  #484848; margin: 0%;" class="form-label">HP</label>
                            <input pInputText type="text" formControlName="hp" style="
                                background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.hp">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <label style="color:  #484848; margin: 0%;" class="form-label">HP</label>
                            <span style="color: white; font-size: 25px;"> {{unidad.motor.hp}} </span>
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor style="position: absolute; top: 36%;
                    left: 58%; display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Serie</label>
                            <input pInputText type="text" formControlName="serie" style="
                                background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.serie">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Serie</label>
                            <span style="color: white; font-size: 25px;"> {{unidad.motor.serie}} </span>
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor style="position: absolute; top: 51%;
                left: 58%; display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Caudal</label>
                            <input pInputText type="text" formControlName="caudal" style="
                            background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.caudal">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Caudal</label>
                            <span style="color: white; font-size: 25px;"> {{unidad.motor.caudal}} </span>
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor style="position: absolute; top: 67%;
                    left: 43%; display: flex; flex-direction: column;">
                        <ng-template pTemplate="input">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Presion</label>
                            <input pInputText type="text" formControlName="presion" style="
                                background-color: #ffffff00; color: white;" [(ngModel)]="unidad.motor.presion">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <label style="color:  #484848; margin: 0%;" class="form-label">Presion</label>
                            <span style="color: white; font-size: 25px;"> {{unidad.motor.presion}} </span>
                        </ng-template>
                    </p-cellEditor>
                </div>

                </div>
                <div style="position: absolute; right: 0%; top: 42%;">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(unidad)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" [disabled]="bombaJockey.invalid" pButton pRipple type="button"
                    pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(unidad)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash"
                    (click)="onRowEditDelete(unidad.id)" [disabled]="unidad.id===0"
                    class="p-button-rounded p-button-text p-button-danger"></button>
                <br>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowBack(unidad)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
                </div>

            </td>

        </tr>
    </ng-template>
</p-table>

<ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
</ng-template>

<p-toast key="s" position="top-center"></p-toast>
<p-toast key="i" position="top-center"></p-toast>
<p-toast key="e" position="top-center"></p-toast>
<p-toast key="c" position="top-center" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>Eliminar</h4>
                <p> ¿Desea eliminar el registro? </p>
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-sm-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="d-grid gap-2 col-sm-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>