.container-td {
    display: flex;
    justify-content: center;
}

.controles {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content: center;
}

.nombre {
    font-size: 40px;
    color: black;
    font-weight: 200;
    margin: 0%;
}

.descripcion {
    font-size: 21px;
    color: #656565;
    margin: 0%;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    width: 30%;
}

.motor {
    position: absolute;
    top: 15%;
    right: 67%;
}