<br>
<div style="margin: 0% 8% 8% 0%; display: flex; justify-content: flex-end;">
    <p-speedDial (onClick)="cleanData();showForm()" radius="80" direction="up" type="semi-circle"></p-speedDial>
</div>
<br>

<div class="card">
    <p-table [value]="seniales | senial:1" [immutable]=false [paginator]="true" [rows]="1" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} señales">
        <ng-template pTemplate="body" let-editing="editing" let-senial>
            <tr [pEditableRow]="senial">
                <td>
                    <div class="row">
                        <div class=" col-sm-2" style="margin-top: 7%;">
                            <i class="pi pi-cog" (click)="updateData(senial); showForm()" pTooltip="Configuración"
                                style="font-size: 40px; margin-bottom: 20%"></i><br>
                            <i class="pi pi-trash" (click)="rowDelete(senial.id)" pTooltip="Eliminar" style="font-size: 40px;"></i>
                        </div>
                        <div class="col-sm-3">
                            <img src="assets/img/mantenimiento/control.svg" style="width: 100%;" alt="">
                        </div>
                        <div class="col-sm-4" style="margin-top: 10%;">
                            <p class="nombre">{{ senial.unidad }}</p>
                            <p class="descripcion">{{ senial.descripcion }}</p>
                            <p-tag styleClass="p-mr-2" [severity]="senial.estado===true?'success':'danger'"
                                icon="pi pi-share-alt" [value]="senial.estado===true?'Activo':'Inactivo'"></p-tag>
                        </div>
                        <div class="col-sm-3" style="margin-top: 15%;">
                            <p class="descripcion">{{ senial.etiqueta }}</p>
                            <p class="descripcion">{{ senial.servidor }}</p>
                            <p class="descripcion">{{ senial.fuente }}</p>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-sidebar styleClass="p-sidebar-md" [(visible)]="displayForm" position="right" [baseZIndex]="10000" [modal]="false">
    <app-formSeniales (newSenialEvent)="showSenial($event)" [oldSenialEvent]="itemSenial"></app-formSeniales>
</p-sidebar>