<br>
<div style="margin: 0% 8% 8% 0%; display: flex; justify-content: flex-end;">
    <p-speedDial (onClick)="showForm()" routerLink="stepEmpresa" radius="80" direction="up" type="semi-circle"></p-speedDial>
</div>

<div class="card">
    <p-table [value]="empresas" [paginator]="true" [rows]="1" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Empresas">
        <ng-template pTemplate="body" let-empresa>
            <tr>
                <td>
                    <div class="container-td">
                        <div class="controles">
                            <i class="pi pi-cog" pTooltip="Configuración" style="font-size: 40px; margin-bottom: 30%"></i>
                            <i class="pi pi-trash" pTooltip="Eliminar" style="font-size: 40px;"></i>
                        </div>
                        <img src="assets/img/mantenimiento/empresa.svg" style="width: 20%;" alt="">
                        <div>
                            <p class="nombre">{{ empresa.nombre }}</p>
                            <p class="descripcion">{{ empresa.descripcion }}</p>
                        </div>
                        <i class="pi pi-compass" pTooltip="Sitios" (click)="showModalDialogSitio(empresa)" style="font-size: 50px; margin-left: 2%;"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [header]="nomEmpresa" [(visible)]="displayModalSitios" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="card">
        <p-table [value]="sitios" [paginator]="true" [rows]="1" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} sitios">
            <ng-template pTemplate="body" let-sitio>
                <tr>
                    <td>
                        <div class="container-td">
                            <div class="controles">
                                <i class="pi pi-plus" pTooltip="Agregar" style="font-size: 35px; margin-bottom: 15%;"></i>
                                <i class="pi pi-cog" pTooltip="Configuración" style="font-size: 35px; margin-bottom: 15%;"></i>
                                <i class="pi pi-trash" pTooltip="Eliminar" style="font-size: 35px; margin-bottom: 15%;"></i>
                            </div>
                            <img src="assets/img/mantenimiento/gps.svg" style="width: 20%;" alt="">
                            <div>
                                <p class="nombre">{{ sitio.nombre }}</p>
                                <p class="descripcion">{{ sitio.direccion }}</p>
                            </div>
                            <i class="pi pi-align-justify" pTooltip="Cuarto de bombas" (click)="showModalDialogBomba(sitio)" style="font-size: 38px; margin-left: 5%;"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModalSitios=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [header]="nomSitio" [(visible)]="displayModalBomba" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="card">
        <p-table [value]="bombas" [paginator]="true" [rows]="1" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}">
            <ng-template pTemplate="body" let-bomba>
                <tr>
                    <td>
                        <div class="container-td">
                            <div class="controles">
                                <i class="pi pi-plus" pTooltip="Agregar" style="font-size: 35px; margin-bottom: 15%;"></i>
                                <i class="pi pi-cog" pTooltip="Configuración" style="font-size: 35px; margin-bottom: 15%;"></i>
                                <i class="pi pi-trash" pTooltip="Eliminar" style="font-size: 35px; margin-bottom: 15%;"></i>
                            </div>
                            <img src="assets/img/mantenimiento/cuarto.svg" style="width: 20%;" alt="">
                            <div>
                                <p class="descripcion">{{ bomba.descripcion }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModalBomba=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- <div class="card">
    <p-table [paginator]="true" dataKey="value" [value]="datas" styleClass="p-datatable-sm" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="{first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>

                <th style="width: 3rem"></th>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="data" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" class="form-control" formControlName="modelo" placeholder="Falcon Ingenieria">
                        </ng-template>
                        <ng-template pTemplate="output">
                            Falcon Ingenieria
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" class="form-control" formControlName="modelo" placeholder="Dedicados al desarrollo...">
                        </ng-template>
                        <ng-template pTemplate="output">
                            Dedicados al desarrollo de Proyectos de Automatización Industrial atendiendo diversas industrias en la región.
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-data>
            <tr>
                <td colspan="7">
                    <div class="p-p-3">
                        <p-table [value]="data.list" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem"></th>
                                    <th pSortableColumn="id">Nombre
                                        <p-sortIcon field="price"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="customer">Direccion
                                        <p-sortIcon field="customer"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="date">Descripcion
                                        <p-sortIcon field="date"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="amount">Latitud
                                        <p-sortIcon field="amount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="status">Longitud
                                        <p-sortIcon field="status"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="status">Altura
                                        <p-sortIcon field="status"></p-sortIcon>
                                    </th>
                                    <th style="width: 4rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-lista let-expanded="expanded">
                                <tr>
                                    <td>
                                        <button type="button" pButton pRipple [pRowToggler]="lista" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" class="form-control" formControlName="modelo" placeholder="Nombre">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                Nombre
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" class="form-control" formControlName="modelo" placeholder="Direccion">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                Direccion
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" class="form-control" formControlName="modelo" placeholder="Descripcion">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                Descripcion
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" class="form-control" formControlName="modelo" placeholder="Latitud">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                Latitud
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" class="form-control" formControlName="modelo" placeholder="Longitud">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                Longitud
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" class="form-control" formControlName="modelo" placeholder="Altura">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                Altura
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-lista>
                                <tr>
                                    <td colspan="7">
                                        <div class="p-p-3">
                                            <p-table [value]="lista.list" dataKey="id">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th pSortableColumn="id">Nombre
                                                            <p-sortIcon field="price"></p-sortIcon>
                                                        </th>
                                                        <th pSortableColumn="customer">Descripcion
                                                            <p-sortIcon field="customer"></p-sortIcon>
                                                        </th>
                                                        <th style="width: 4rem"></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-lista let-expanded="expanded">
                                                    <tr>
                                                        <td pEditableColumn>
                                                            <p-cellEditor>
                                                                <ng-template pTemplate="input">
                                                                    <input type="text" class="form-control" formControlName="modelo" placeholder="Sitio">
                                                                </ng-template>
                                                                <ng-template pTemplate="output">
                                                                    Sitio
                                                                </ng-template>
                                                            </p-cellEditor>
                                                        </td>
                                                        <td pEditableColumn>
                                                            <p-cellEditor>
                                                                <ng-template pTemplate="input">
                                                                    <input type="text" class="form-control" formControlName="modelo" placeholder="Lugar">
                                                                </ng-template>
                                                                <ng-template pTemplate="output">
                                                                    Lugar
                                                                </ng-template>
                                                            </p-cellEditor>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="emptymessage">
                                                    <tr>
                                                        <td colspan="6">There are no order for this product yet.</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no order for this product yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div> -->

<p-sidebar styleClass="p-sidebar-md" [(visible)]="displayForm" position="right" [baseZIndex]="10000" [modal]="false">
    <app-formempresa></app-formempresa>
</p-sidebar>