<br>
<form action="" [formGroup]="validateForm" (ngSubmit)="submitForm()" style="width: 95%; height: 740px; margin: auto; position: relative;">
    <h3>Configuración de motor</h3>
    <br>
    <br>
    <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <input type="text" class="form-control" formControlName="descripcion" placeholder="Escriba aqui...">
    </div>
    <div class="mb-3">
        <label class="form-label">Estado</label>
        <p-selectButton [options]="stateOptions" formControlName="estado" optionLabel="label" optionValue="value"></p-selectButton>
    </div>
    <div style="display: flex; justify-content: space-between; position: absolute; bottom: 0; width: 100%;">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-secondary p-button-sm"></button>
        <p-button label="Guardar" (onClick)="Guardar()" icon="pi pi-check" styleClass="p-button-sm"></p-button>
    </div>
</form>